.content {
  flex: 1;
  padding: 100px 30px;
  margin-right: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  transition: margin-right 0.3s ease;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .content.collapsed {
    margin-right: 0;
  }
}